
.card {
    margin-top: 1rem;
}

.custom-code {
    /*background-color: #f8f9fa;*/
    font-family: monospace; /* Monospace für Code */
}

.info {
    color: #888888;
}

.rotate-45 {
    transform: rotate(45deg);
    display: inline-block;
}

.rotate-90 {
    transform: rotate(90deg);
    display: inline-block;
}

.rotate-135 {
    transform: rotate(135deg);
    display: inline-block;
}

.rotate-180 {
    transform: rotate(180deg);
    display: inline-block;
}

.rotate-270 {
    transform: rotate(270deg);
    display: inline-block;
}

.bi-arrow-90deg-left {
    transform: rotate(180deg) translateY(5px);
}

.arrow {
    transition: transform 0.3s ease;
    display: inline-block;
}

.collapsed .arrow {
    transform: rotate(180deg);
}

select.form-select {
    width: max-content;
}

.title.badge.lite {
    border: #888888 1px solid;
    font-style: italic;
    font-weight: lighter;
}

.title.badge.pro {
    color: black;
    --border: #F0E68C 1px solid;
    border-radius: 10px;
    background-color: #B8860B;
    --font-weight: normal;
}

.locked {
    border: #FFC107 1px solid;
    border-radius: 0.5rem;
    font-style: italic;
    font-weight: lighter;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
